@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #3b4252;
}
h1 {
	font-size: 50px;
	font-family: "Fira Mono", monospace;
	color: #d8dee9;
	text-decoration: none;
	text-align: center;
	position: relative;
	top: -28px;
	width: 0;
	left: 50%;
	right: 50%;
	margin: 0;
	line-height: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
li,
a,
button,
p {
	font-family: "Fira Mono", monospace;
	font-size: 16px;
	color: #d8dee9;
	text-decoration: none;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 10%;
	background-color: #2e3440;
}
.navbar {
	list-style: none;
	top: 8px;
	position: relative;
}
.navbar li {
	display: inline-block;
	padding: 0px 200px;
}
.navbar li a,
.navbar li p {
	transition: all 0.3s cubic-bezier(0.75, 0.02, 0.25, 0.97) 0s;
}
.navbar li a:hover,
#cc:hover {
	transition: all 0.3s cubic-bezier(0.75, 0.02, 0.25, 0.97) 0s;
	color: #7196b6 !important;
}
html {
	scroll-behavior: smooth;
}
