@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
:root {
	--generic-easing: all 0.3s cubic-bezier(0.75, 0.02, 0.25, 0.97) 0s;
}
@keyframes nord-frost-cycle {
	25% {
		color: #5e81ac;
	}
	50% {
		color: #81a1c1;
	}
	75% {
		color: #88c0d0;
	}
	100% {
		color: #8fbcbb;
	}
}
@keyframes nord-rainbow-cycle {
	16.6% {
		color: #bf616a;
	}
	33.2% {
		color: #d08770;
	}
	49.8% {
		color: #ebcb8b;
	}
	66.4% {
		color: #a3be8c;
	}
	83% {
		color: #5e81ac;
	}
	100% {
		color: #b48ead;
	}
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #3b4252;
}
#name:hover {
	text-shadow: 4px 4px #434c5e;
	transition: var(--generic-easing);
	animation: nord-rainbow-cycle 5s infinite;
	content: "arczen#7561";
}
#name {
	font-size: 50px;
	font-family: "Fira Mono", monospace;
	color: #d8dee9;
	text-decoration: none;
	text-align: center;
	position: relative;
	width: 0;
	left: 50%;
	right: 50%;
	margin: 0;
	line-height: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
li,
a,
button,
p {
	font-family: "Fira Mono", monospace;
	font-size: 16px;
	color: #d8dee9;
	text-decoration: none;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10%;
	background-color: #2e3440;
}
.navbar {
	list-style: none;
	position: relative;
}
.navbar li {
	display: inline-block;
	padding: 0px 200px;
}
.navbar li a,
.navbar li p {
	transition: var(--generic-easing);
}
.navbar li a:hover,
.navbar li p:hover {
	transition: var(--generic-easing);
	text-shadow: 2px 2px #434c5e;
	color: #7196b6 !important;
	animation: nord-frost-cycle 5s infinite;
}
html {
	scroll-behavior: smooth;
}
